doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Inicio de Sesión
        script(src="/assets/js/jquery-3.7.0.min.js")
        script(src="/assets/js/inicio.js")
        link(href="/assets/css/styles2.css", rel="stylesheet")
    body
        .page-container
            nav
                ul.menu
                    li: a(href="/") Inicio
                    li: a(href="members") Miembros
                    li: a(href="music") Discografía
                    li: a(href="mvs") MVs
                    li: a(href="/Shows") Live shows

            main
                h1 Iniciar Sesión
                form#inicioForm
                    label(for="correo") Correo electrónico:
                    input(type="email", id="correo", name="correo", required)

                    label(for="contrasena") Contraseña:
                    input(type="password", id="contrasena", name="contrasena", required)

                    button(type="submit") Iniciar Sesión
                a(href="/Registro", class="link-inicio") Registrarse

            footer(id="Pie")
                .SocialMedia
                    img(src="/assets/img/icons/instagram.png", alt="instagram")
                    img(src="/assets/img/icons/google.png", alt="google")
                    img(src="/assets/img/icons/facebook.png", alt="facebook")
                    img(src="/assets/img/icons/twitter.png", alt="twitter")
                h4 ITLA | Desarrollo de Software
