doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/assets/css/other.css")
    title NewJeans Members
  body(style="background-image: url('/assets/img/fondo.jpg');")
    .page-container
      nav
        ul.menu
          li: a(href="/") Inicio
          li: a(href="music") Discografía
          li: a(href="mvs") MVs
      .introduction
        h4 ¡Conoce a las miembros!
        p
          | El nombre del grupo, NewJeans, está destinado a describir cómo el grupo liderará una nueva tendencia. Al igual que los jeans, que son amados por personas de todas las edades y están de moda, el grupo se convertirá en un ícono de esta era. El nombre también es un juego de palabras con la frase nuevos genes. Esto implica que el grupo allanará el camino de una nueva generación en la música pop.

        #content
        .panel-intro-container
            .panel
            h2 Minji
            img(src="/assets/img/nj/Minji.gif", alt="Minji")
            p Minji la mayor de NewJeans. Ella es una ex aprendiz de JYP Entertainment. Apareció en el MV Permission to Dance 2021 de BTS. Formó parte de las audiciones globales de 2019 de Big Hit y Source Entertainment. Minji también fue la cara del video promocional de Global Audition 2019.
            p Nombre artístico: Minji
            p Nombre completo: Kim Min Ji
            p Nombre nativo: 김민지
            p Fecha de nacimiento: 7 de mayo de 2004
            p País de nacimiento: Corea del Sur
            p Altura: 169 cm (5'7'')
            p Signo zodiacal: Tauro
            .panel
            h2 Hanni
            img(src="/assets/img/nj/Hanni.gif", alt="Hanni")
            p Hanni es transatlántica vietnamita-australiana. Tenía 17 años cuando debutó con NewJeans. Puede hablar coreano, inglés y vietnamita. Hanni pasó la audición global de Big Hit 2019 y entrenó durante 2.5 años antes de su debut. Ella es, de hecho, una de las pocas vietnamitas en debutar en un grupo de chicas Kpop. Hanni fue acreditado como uno de los letristas del sencillo principal del grupo, Hype Boy.
            p Nombre artístico: Hanni
            p Nombre Completo: Phạm Ngọc Hân
            p Nombre nativo: Phạm Ngọc Hân
            p Fecha de nacimiento: 6 de octubre de 2004
            p País de nacimiento: Vietnam
            p Altura: 161.7 cm (5'4'')
            p Signo zodiacal: Libra
            .panel
            h2 Danielle
            img(src="/assets/img/nj/Daniel.gif", alt="Daniel")
            p Danielle tiene doble nacionalidad; ella es coreana-australiana. Su padre es australiano y su madre es coreana. Ella es el 3er miembro más viejo del grupo y tenía 17 años cuando debutó con NewJeans. De 2011 a 2012, cuando Danielle tenía 6 años, trabajó como modelo infantil en Corea. Ella puede hablar inglés y coreano.
            p Nombre artístico: Danielle
            p Nombre Completo: Danielle Marsh
            p Nombre coreano: Mo Ji Hye
            p Nombre coreano: 모지혜
            p Fecha de nacimiento: 11 de abril de 2005
            p País de nacimiento: Corea del Sur
            p Altura: 165 cm (5'5'')
            p Signo zodiacal: Aries
            .panel
            h2 Haerin
            img(src="/assets/img/nj/Haerin.gif", alt="Haerin")
            p Haerin es la segunda miembro más joven del grupo. Ella es coreana y nació en 2006. Haerin tenía 16 años cuando debutó con NewJeans. Ella puede hablar inglés y coreano.
            p Nombre artístico: Haerin
            p Nombre Completo: Kang Haerin
            p Nombre nativo: 강해린
            p Fecha de nacimiento: 15 de mayo de 2006
            p País de nacimiento: Corea del Sur
            p Altura: 164.5 cm (5'5'')
            p Signo zodiacal: Tauro
            .panel
            h2 Hyein
            img(src="/assets/img/nj/Hyein.gif", alt="Hyein")
            p Hyein es el miembro más joven de NewJeans. Tenía solo 14 años cuando hizo su debut con NewJeans. Nació en Incheon, Corea del Sur. Su familia está formada por sus padres y su hermano. Su fruta favorita es la fresa. ¡Vea el perfil completo de Hyein aquí!
            p Nombre artístico: Hyein
            p Nombre Completo: Lee Hyein
            p Nombre nativo: 이혜인
            p Fecha de nacimiento: 21 de abril de 2008
            p País de nacimiento: Corea del Sur
            p Altura: 170 cm (5'7'')
            p Signo zodiacal: Tauro

      footer(id="Pie")
        .container
          .SocialMedia
            img(src="/assets/img/icons/instagram.png", alt="instagram")
            img(src="/assets/img/icons/google.png", alt="google")
            img(src="/assets/img/icons/facebook.png", alt="facebook")
            img(src="/assets/img/icons/twitter.png", alt="twitter")
          h4 ITLA | Desarrollo de Software