doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/assets/css/other.css")
    title Videos Musicales
    script(src="https://www.youtube.com/iframe_api")
    script(src="assets/js/mv.js") 

  body(style="background-image: url('/assets/img/fondo.jpg');")
    .page-container
      nav
        ul.menu
          li: a(href="/") Inicio
          li: a(href="members") Miembros
          li: a(href="music") Discografía

      .introduction
        h4 MVs
        p
          | No te pierdas los geniales MVs llenos de color, estilo y voces conmovedoras!

      .music-content2
        .video-pair
          .video-container
            .video-thumbnail(data-video-id="js1CtxSY38I")
          h2 Attention 

          .video-container
            .video-thumbnail(data-video-id="11cta61wi0g")
          h2 Hype Boy

        .video-pair
          .video-container
            .video-thumbnail(data-video-id="VOmIplFAGeg")
          h2 Cookie

          .video-container
            .video-thumbnail(data-video-id="tVIXY14aJms")
          h2 Hurt

        .video-pair
          .video-container
            .video-thumbnail(data-video-id="pSUydWEqKwE")
          h2 Ditto 

          .video-container
            .video-thumbnail(data-video-id="_ZAgIHmHLdc")
          h2 OMG

        .video-pair
          .video-container
            .video-thumbnail(data-video-id="ArmDp-zijuc")
          h2 Super Shy

          .video-container
            .video-thumbnail(data-video-id="jOTfBlKSQYY")
          h2 ETA      

      footer(id="Pie")
        .container
          .SocialMedia
            img(src="/assets/img/icons/instagram.png", alt="instagram")
            img(src="/assets/img/icons/google.png", alt="google")
            img(src="/assets/img/icons/facebook.png", alt="facebook")
            img(src="/assets/img/icons/twitter.png", alt="twitter")
          h4 ITLA | Desarrollo de Software





